.pokedex_pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
  background-color: #e3e3e3;
  margin: 2em 3em 2em 2em;
  border-radius: .5em;
  transition: .2s ease;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-drag: none;
  user-select: none;
}

.pokedex_pokemon:hover {
  scale: 1.2;
}

.pokedex_pokemon_image {
  width: 100%;
  height: 100%;
  border-radius: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes scaling {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

.pokedex_pokemon_image img {
  animation: scaling 1s ease-in-out infinite;
  -webkit-user-drag: none;
  user-select: none;
}

.pokedex_pokemon_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  font-weight: bold;
}

.pokedex_pokemon_info h2 {
  font-weight: 400;
  color: #121212;
  font-size: 1.2em;
  margin-bottom: 0.2em;
}